html,
body {
    height: 100%;
}
.dropdown-menu {
    box-shadow: none;
    border-color: #eee;
  }
.box-header{
    color:#444;
    display: block;
    padding: 10px;
    position: relative;
}

.summary {
    margin-bottom: 10px;
}

.footer-notification {
    margin: 0px;
    padding-top: 0px;
    height: auto;
}

.header-notification {
    font-weight: bold;
}